<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> マイクロブログ</title>
	<link th:href="@{/css/app.css}" rel="stylesheet">
	<link th:href="@{/css/style.css}" rel="stylesheet">
	<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}" rel="stylesheet">
	<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>

<body>
	<div class="header">
		<h1><a th:href="@{/admin}"> マイクロブログ</a></h1>
	</div>
	<div sec:authorize="!authenticated" class="nav">
		<a th:href="@{/users/login}" class="navlink">ログイン</a>
		<a th:href="@{/users/create}" class="navlink">新規ユーザ登録</a>
	</div>
	<div sec:authorize="authenticated" class="nav">
		<p class="navlink">ようこそ、<span sec:authentication="principal.user.nickname"></span>さん</p>
		<a th:href="@{/admin/users/edit}" class="navlink">ユーザ情報更新</a>
		<a th:href="@{/admin/users/list}" class="navlink">ユーザ一覧</a>
		<a th:href="@{/admin/favorites/}" class="navlink">お気に入り</a>
		<a th:href="@{/admin/users/logout}" class="navlink">ログアウト</a>
	</div>
	<div class="container-fluid mt-3">
		<div class="row">
			<div class="col-sm-10 main mx-auto">
				<div th:if="${flash}" th:text="${flash.getMessage()}" th:class="${'alert alert-' + flash.getKey()}"
					role="alert"></div>
			</div>
			<div layout:fragment="content" class="col-sm-10 main mx-auto"></div>
		</div>
	</div>
</body>

</html>