<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<meta charset="UTF-8" th:remove="tag">
</head>

<body>
	<div layout:fragment="content">
		<h1>ユーザ一覧</h1>
		<table class="table table-striped mt-4">
			<thead class="bg-primary text-white">
				<tr>
					<th>ユーザ名</th>
					<th>フォロー数</th>
					<th>フォロワー数</th>
					<th>フォロー</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="userInfo: ${users}" th:object="${userInfo}">
					<td th:text="*{nickname}"></td>
					<td th:text="*{followCount}"></td>
					<td th:text="*{followerCount}"></td>
					<td th:if="*{isFollow}">フォロー中</td>
					<td th:if="!*{isFollow}"><a th:href="@{/admin/follow/create/{id}(id=*{id})}">フォローする</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>