<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
	<meta charset="UTF-8" th:remove="tag">
</head>

<body>
	<div layout:fragment="content">
		<div class="tweet-block" th:object="${tweet}">
			<div class="tweet line">
				<a th:href="@{/admin/userTweet/{id}(id=*{userId})}" th:text="*{nickname}" />
				<a th:if="!*{isFavorite}" th:href="@{/admin/favorites/create/{id}(id=*{id})}"
						class="navlink">お気に入りに追加</a>
		</div>
			<div class="tweet" th:text="*{body}" />
			<div class="tweet">
				<a th:href="@{/admin/detail/{id}(id=*{id})}" th:text="*{createdAt}" />
			</div>
			<hr class="hr1">
		</div>
	</div>
</body>

</html>